
.icon-about {
  fill: #323232;
  fill-rule: evenodd;
  width: 48px;
  height: 48px;
  float:left;
}
.icon-social{
  width: 32px;
  height: 32px;
  fill: #fff;
  opacity: 0.8;
  fill-rule: evenodd;
  border-radius:50%;
  border:3px solid rgba(255,255,255,0.5);
  margin-right: 10px;
}
body {
    margin:0;
    font-family: "Roboto","Arial",sans-serif;
    font-size:16px;
    color:#fff;
    font-weight: 400;
    line-height:22px;
    min-width:900px;
    
    
}
.body-catalog{
    background-color: #9aaea3;
}
.container {
    
    min-width:900px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    
}
/*[class^="col-"]{
    margin:0 1.1%;
}
[class^="col-"]:first-child{
    margin-left: 0;
    
}
[class^="col-"]:last-child{
    margin-right: 0;
}*/
.col-1 {
    width: 23.27%;
}
.col-2{
    width:48.85%;
    
}
.row{
    
    padding: 0 2.3%;
    
}

h1{
    
    font-size: 24px;
    line-height:30px;
    
    
}
h2{
    font-size: 60px;
    line-height:60px;
    
    
}
h3{
    font-size: 35px;
    line-height:41px;
    font-weight: 700;

}

/*.col-2{
    width:420px;
    
    
}
.col-4{
    width: 200px;
}*/


/*---------хэдер--------------*/
.main-header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight:700;
    font-size: 16px;
    line-height: 18px;
    
}
.sub-menu{
    display: none;
}
.navigation-block{
    margin-left: -5px;
   display: flex; 
    
}
.main-menu{
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

.sub-menu{
  position:absolute;
  top:20px;
  z-index: 10;
  display: none;
  width:143px;
  list-style: none;
  margin: 0;
  padding: 0;
    background-color: #f8f7f4;
    border-radius:5px;
}
.sub-menu li:hover{
    border-radius:5px;
    background-color: #fbded7;
}
.sub-menu .new{
    font-weight: 700;
    border-bottom: 1px solid rgba(50,50,50,0.2);
}
.sub-menu a{
    padding: 11px 0px 13px 20px;
    margin:0 10px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
font-weight: 400;
    color:#323232;
}
.sub-menu li:first-child a{
    
}
.main-menu>li:hover .sub-menu{
   display: block;
    
}
.main-navigation>ul:hover .sub-menu{
    
}
.main-menu>li{
  display: inline-block;
  position:relative;
}
.main-menu .active{
    padding: 10px 15px;
    border: none;
    background-color: #d07058;
    border-radius: 18px;
}
.main-menu>li>a{
   display: block;
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  
    
}
.logo{
    margin-right: 30px;
}  

.user-block{
     display: flex; 
     margin-top: 15px;
    font-weight:500;
    font-size: 14px;
    line-height: 16px;
    
}
.icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  fill-rule: evenodd;
  padding: 6px;
 
}
.filled{
   fill: #000;
  fill-rule: evenodd;
  padding: 6px 
}
.loupe{
    position: relative;
    background-color: rgba(255,255,255,0.2);
    width:32px;
    height:32px;
    border-radius: 50%;
}

.loupe:hover .search-form{
    display: block;
    
}
.search-form{
    display: none;
    padding: 20px 15px;
    background-color: #f8f7f4;
    z-index: 10;
    border-radius:5px;
    position:absolute;
    right:0;
    top:35px;
    border:none;
    outline: none;
}
input[type="search"]{
box-sizing: border-box;
width:310px;
height:43px;
padding:12px 10px;
border-radius: 6px;
border:none;
border:1px solid rgba(178,178,178,0.52);
outline: none;
 color:#999999;
font-size: 14px;
line-height: 24px;
font-weight: 400;
}
.login{
    width:93px;
    height:31px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 15px;
    position: relative;

}

.login:hover .form-login{
    display: block;
}
.login .form-login{
     display: none;
    width: 277px;
    box-sizing: border-box;
    padding: 20px 15px 21px 15px;
    background-color: #f8f7f4;
    z-index: 10;
    border-radius:5px;
    position:absolute;
    right:0;
    top:35px;
}

.form-login input{
  box-sizing: border-box;
  width: 239px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 13px 8px 13px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
    font-weight: 400;
  border-radius: 6px;
  border:none;
  border:1px solid rgba(178,178,178,0.52);
  outline: none;
    color:#999999
}
.form-login .btn-submit{
    width:100px;
    float: left;
    margin-right: 20px;
}
.form-login a{
    font-size: 13px;
    line-height: 16px;
    color:#323232;
    display: inline-block;
    margin-top: 5px;
}
.shopping-cart{
    background-color: rgba(255,255,255,0.2);
    border-radius: 15px;
    width:113px;
    height:31px;
    position: relative;

}
.shopping-cart:hover .checkout{
    display: block;
}
.checkout{
    display: none;
    position: absolute;
    top:35px;
    right: 0;
    border-radius: 6px;
    padding:17px 25px 24px 25px;
    background-color: #f8f7f4;
    width:525px;
    min-height: 240px;
    color:#323232;
    box-sizing: border-box;
    z-index: 1000;
   
    
}
.checkout .btn{
   width:169px;
   box-sizing: border-box;
    padding:10px 10px;
    float: right;
}

.delete-item{
    
  width: 16px;
  height: 16px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: relative;
}
.delete-item::before,
.delete-item::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #7e7e7d;
  border-radius: 1px;
  position: absolute;
      top: 7px;
    right: 0px;
 
}
.delete-item::before {
  transform: rotate(45deg);
}

.delete-item::after {
  transform: rotate(-45deg);
}
.order-list tr:last-child td{
    border-top:1px solid #cacac7;
    text-align: right;
    padding:13px 10px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}
.order-list td{
    padding:5px 10px;
}
.shedule{
    position: absolute;
    top:70px;
    right:2.3%;
    font-size: 14px;
    line-height: 16px;
    
}
.shedule span{
    font-size: 22px;
    line-height: 24px;
}

.catalog-item img{
    border-radius: 50%;
    overflow:hidden;
}

/*---------слайдер--------------*/
body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}



.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/bg-1.png");
   
}

.site-wrapper:after {
  background-image: url("../img/bg-2.png");
}

.content-wrapper {
  position: relative;
 
 
}
.row.content-wrapper{
    justify-content: center;
}

.slider {
  position: relative;
  text-align: center;
  color: #ffffff;
  width:100%;
}

.slide {
  display: none;
  min-height: 564px;
  position: relative;
}
.slide img{
    
    position: absolute;
    bottom: -19px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.slide-title {
  position: absolute;
  bottom: 140px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
    line-height: 60px;
}
.btn{
  display: inline-block;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74b36 100%); 
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
  padding: 15px 20px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.slide-btn {
  font-size:32px;
  line-height: 44px;
  position: absolute;
  bottom: 33px;
  left: 0;
  right:0;
  box-sizing: border-box;
  width:277px;
  margin: 0 auto;
  display: inline-block;
  padding: 12px 35px;
  font-weight: 600;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 60px;
  left: 2.3%;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
  background-image: url("../img/bg-1.png");
    
}

#btn-2:checked ~ .site-wrapper {
 background-color: #8996a6;
  background-image: url("../img/bg-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bg-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
/*---------футер--------------*/
.main-footer{
    display: flex; 
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding-top:20px;
    padding-bottom: 20px;
    min-height: 100px;
    min-height: 100px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,0.3);
}
.main-footer a{
    color:#fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.main-footer .col-1,.col-2{
    
}
.main-footer-social a{
   border-bottom: none;
    
}
.main-footer-info{
    display: flex;
}
.main-footer-info .info-right{
    width: 180px;
}
.main-footer-info a{
    display:inline-block;
}
.info-left{
    width: 160px;
    box-sizing: border-box;
    padding:0px 10px;
    text-align: center;
    
}
.info-left a:first-of-type{
    margin-left: 6px;
}
.info-left a{
    margin-left: 21px;
}
.main-footer-copyright{
    
    font-size: 12px;
}

.icon-heart{
    width:15px;
    height:13px;
    fill: #fff;
   fill-rule: evenodd;
}
.logo-htmlacademy{
    display: block;
   width:108px;
    height:37px;
    fill: #fff;
   fill-rule: evenodd; 
}


.range{
    position:relative;
    height:35px;
    width: 190px;
    margin-bottom:15px;
    padding:0 15px;
    background:rgba(171,188,178,0.2);
    border-radius:5px;
    overflow:hidden;
}
.scale{
    margin-top:15px;
    height:4px;
    background:rgba(209,218,211,0.5);
}
.scale div{
    height:4px;
    background:#f8f7f4;
}
.toggle{
    position:absolute;
    top:6px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid #f8f7f4;
    background:#f8f7f4;
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{
    left:35px;
}
.max-toggle{
    left:130px;
}


/*---------блок даром--------------*/
.for-free{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 38px;   
}
.for-free p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

}
.for-free h3{
    margin-top:0px;
    margin-bottom: 15px;
}
.raspberry{
    background: url("../img/ruspberry.jpg") no-repeat;
    background-size: cover;
    border-radius: 16px;
    overflow: hidden;
    box-sizing: border-box;
    padding:16px 21px 23px 18px;
    position: relative;
    min-height: 230px;
}
.chocolate{
    background: url("../img/choco-bg.jpg") no-repeat;
    background-size: cover;
    border-radius: 16px;
    overflow: hidden;
    box-sizing: border-box;
    padding:16px 21px 23px 19px;
    position: relative;
    z-index:10;
    min-height: 230px;
    
}
.for-free .btn{
    position: absolute;
    bottom:23px;
    right:21px;
}
/*---------блок хиты--------------*/

.hit-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 37px;
}
.catalog-item{
    position: relative;
    text-align: center;
    border-radius: 5px;
}
.hit-block .item-wrapper::before{
    content:"";
    background: url(../img/hit.jpg) 50% 50% no-repeat;
    display: block;
    height: 61px;
    width:61px;
    position: absolute;  
    border-radius: 50%;
    
}
.item-wrapper{
    position:relative;
}
.item-price{
    font-weight:700;
    font-size:30px;
    position: absolute;
    left:0;
    bottom:19px;
}
.item-price span{
    font-weight:700;
    font-size:45px;
}
.rouble-icon{
    width:31px;
    height: 36px;
    fill: #fff;
    fill-rule: evenodd;
    vertical-align: bottom;
}
.catalog-item-title{
    
    display: inline;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    
}
.catalog-item .btn-wrapper{
    padding: 15px 0;
    display:none;
    position:absolute;
    background-color: rgba(255,255,255,0.2);
    left: 0;
    right: 0;
    bottom:-74px;
    margin: 0 auto;
    z-index: 10;
    border-radius: 0 0 5px 5px;
}
.catalog-item:hover {
  background-color: rgba(255,255,255,0.2);
}
.catalog-item:hover .btn-wrapper{
   display: block;
  
}

/*---------блок описание--------------*/
.description .row{
padding: 0;
}
.description{
    color:#000;
    background: url("../img/about-bg.jpg") no-repeat;
    background-size: cover;
    border-radius: 14px;
    overflow: hidden;
    margin: 0 2.3% 35px 2.3%;
}
.description h1{
    
    font-weight: 500;
}
.description-item p{
    padding-left:55px;
}
.description-columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*---------блок блог и подписка--------------*/
.blog-subscribe{
    color:#000;
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 40px;
    
}
.blog{
    min-height:220px;
    box-sizing: border-box;
    padding:24px 18px;
    background:url("../img/blog-bg.jpg") no-repeat;
    background-size: cover;
    border-radius: 14px;
    overflow: hidden;
    
}
.blog-news{
    font-weight: 500;
    display: block;
    align-items: flex-start;
    color:#5a5a5a;
    margin-bottom: 5px;
}
.blog-news-title{
    text-decoration: none;
    font-size: 0px;
    font-weight: 700;
    line-height: 30px;
    color:#353535;
}

.blog-news-title span{
    
    border-bottom: 2px solid #353535;
    background-color: rgba(255,255,255,0.8);
    padding:5px;
    padding-bottom:0px;
    margin-left: -3px;
    font-size: 24px;
}
.subscribe{
    min-height: 220px;
    box-sizing: border-box;
    color:#5a5a5a;
    background:url("../img/subscribe-bg.jpg") no-repeat;
    background-size: 100% 100%;
    border-radius: 14px;
    overflow: hidden;
    padding:19px 25px 19px 25px;
}
.subscribe input[type="email"]{
    padding:9px 13px;
    margin-right:14px;
    flex-grow: 1;
    line-height: 24px;
    border:1px solid rgba(178,178,178,0.52);
    border-radius: 5px;
}
.form-subscribe{
    margin-top: 35px;
    display: flex;
    align-items: center;
    
}
.btn-submit{
   
  
  box-sizing: border-box;
  width:127px;
  padding:10px 16px;
    font-size: 18px;
  font-weight: 700;
    line-height: 24px;
  border:none;
    text-align: center;
  color: #ffffff;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
/*---------карта,контакты--------------*/
.map-block{
    margin: 0 auto;
    height: 429px;
    position: relative;
    
}
#map { 
 width: 100%;
height: 429px; 
position: absolute;
}

.map-block .row{
   
    position:relative;
}
.contacts{
    font-size: 14px;
    line-height: 20px;
    color:#323232;
    box-sizing: border-box;
    width:300px;
    background-color: #fdfefe;
    border-radius: 10px;
    position: absolute;
    top: 63px;
    right: 2.3%;
    padding: 14px 25px;
    

}
.contacts b{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.contacts p{
    margin-bottom:19px;
}
.contacts .btn{
    display: block;
    padding:10px 25px;
    margin-top: 29px;
    margin-bottom: 17px;
}

.modal-content{
    position: fixed;
    top:50%;
    left:50%;
    border-radius: 6px;
    margin-left:-239px;
    margin-top:-220px;
    padding:17px 25px 24px 25px;
    background-color: #f8f7f4;
    width:477px;
    min-height: 440px;
    color:#323232;
    box-sizing: border-box;
    z-index: 100;
    display: none;
}
.modal-content-show{
    display:block;
}
.modal-content h3{
    margin-top: 0;
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    
}

.modal-content-close {
  width: 16px;
  height: 16px;
  
  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
    position: absolute;
  top: 13px;
  right: 13px;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;

  width: 16px;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
  top: 5px;
  left: 0px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.feedback-form input[type="text"],
.feedback-form input[type="email"]{
    box-sizing: border-box;
  width: 266px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 13px 8px 13px;
  padding-right: 40px;

  font-size: 16px;
  line-height: 24px;
    border-radius: 6px;
    border:none;
    border:1px solid rgba(178,178,178,0.52);
    outline: none;
}
.feedback-form textarea{
     box-sizing: border-box;
    min-height: 154px;
    border-radius: 6px;
    border:none;
    border:1px solid rgba(178,178,178,0.52);
    
    font-size: 16px;
  line-height: 24px;
    padding: 8px 13px 12px 13px;
    
}
.feedback-form input:focus{
    border:2px solid rgba(46,136,228,0.52);
    border-radius: 6px;
}
.feedback-form .btn-align{
    margin-top: 20px;
    text-align: right;
}
.feedback-form .btn-submit{
    width:138px;
}
/*.main-footer .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}*/
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal-overlay-show{
    display: block;
}
.order-list-item {
    
    border-radius: 50%; 
    
}

/*---------catalog.html--------------*/


.breadcrumbs{
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs a{
    display: block;
    color: #fff;
    padding-right: 15px;
}
.filter{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 25px;
    font-size: 14px;
  
}
.filter span{
   font-size: 16px; 
}
.filter-sorting{
    width:200px;
}
.filter-price{
   width:220px; 
}
.filter-richness{
   border: none;
   padding: 0;
   margin: 0;
   width:420px; 
}
.filter-filling{
    border: none;
    padding: 0;
    margin: 0;
    width: 700px;
}
.filter button{
    box-sizing: border-box;
    width: 144px;
    border:2px solid #f7f8f7;
    border-radius: 15px;
    background-color:rgba(168,185,175,0.9);
    color:#fff;
    padding: 12px 30px 8px 27px;
    font-size: 16px; 
}
.catalog-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.catalog-block .catalog-item{
    margin-bottom: 35px;
    margin-right: 2.3%;
}
.btn-quickview{
    box-sizing: border-box;
    min-height: 44px;
    padding: 10px 13px;
    margin: 0 2px;
}
.catalog-block .catalog-item:nth-child(4n){
    margin-right: 0;
}
.catalog-block img{
    
    border-radius: 50%; 
    
}

.pagination ul{
    list-style: none;
    
    margin: 0;
    padding: 0;
}
.pagination li{
    
    display: inline-block;
}
.pagination a{
    text-decoration: none;
    display: block;
    padding: 0 10px;
}