
body {
    
    font-family: "Roboto",sans-serif;
    font-size:16px;
    color:#fff;
    font-weight: 400;
    line-height:22px;
    background-color: #849d8f;
    
}
.container {
    width:860px;
    margin: 0 auto;
    
}
h1{
    
    font-size: 30px;
    
    
}
h2{
    font-size: 24px;
    line-height:30px;
    
}

.col-2{
    width:420px;
    
    
}
.col-4{
    width: 200px;
}

.hit-block img{
    border-radius: 50%;
    
    
}
/*---------хэдер--------------*/
.main-header .container{
     display: flex;
    position: relative;
}
ul.catalog,.search-form,.form-login, .checkout{
    display: none;
}
.main-navigation{
   display: flex; 
    
}
.main-navigation>ul{
  display: flex;
    list-style: none;
}
.shedule{
    position: absolute;
    top:60px;
    right:5px;
    
}
.user-block{
   display: flex; 
}

/*---------блок даром--------------*/
.for-free{
    display: flex;
    justify-content: space-between;
    min-height: 227px;
    margin-bottom: 38px;
    
}
.raspberry{
    background: url("../img/raspberry-bg.png") no-repeat;
    
}
.chocolate{
   
    
    background: url("../img/choco-bg.png") no-repeat;
    
}
/*---------блок хиты--------------*/

.hit-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}
/*---------блок описание--------------*/
.description{
    background: url("../img/about-bg.png") no-repeat;
    margin-bottom: 35px;
}
.description-columns{
   display: flex;
   justify-content: space-between;
    
}
/*---------блок блог и подписка--------------*/
.blog-subscribe{
    color:#000;
    display: flex;
    justify-content: space-between;
    min-height: 219px;
    margin-bottom: 40px;
}
.blog{
    background:url("../img/blog-bg.png");
    
}
.subscribe{
    background:url("../img/subscribe-bg.png");  
}
/*---------карта,контакты--------------*/
.map{
    margin: 0 auto;
}
.contacts{
    background-color: #fdfefe;
    border-radius: 10px;
    width: 578px;
    color:#000;
    

}
.feedback{
    display: none;
}

.main-footer .container{
    margin: 0 auto;
    display: flex;
}

.order-list-item {
    
    border-radius: 50%; 
    
}