
body {
    
    font-family: "Roboto",sans-serif;
    font-size:16px;
    color:#fff;
    font-weight: 400;
    line-height:22px;
    background-color: #8faa9b;
    
}
h1{
    
    font-size: 30px;
    line-height:42px;
    
}
h2{
    font-size: 24px;
    line-height:30px;
    
}
.range {
height:20px;
border:1px solid black;
position:relative;
}
.line {
    width:150px;
    height: 2px;
    background-image: linear-gradient(#1199ff 30%,#0039a6 50%,#1199ff 70%);
    background-image:-webkit-linear-gradient(#1199ff 30%,#0039a6 50%,#1199ff 70%);
    background-image:-moz-linear-gradient(#1199ff 30%,#0039a6 50%,#1199ff 70%).
    position: absolute;
    top:5px;


}
.point {
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top:2px;
    

}
.point1{
    left:10px;
}
.point2{
    left:45px;
}
.col-2{
    width:420px;
    border-radius:7%;
    
}

.col-4 img{
    border-radius: 50%;
    
    
}
.raspberry{
    min-height: 230px;
    
    background: url("../img/raspberry-bg.jpg") no-repeat;  
}
.chocolate{
    min-height: 230px;
    
    background: url("../img/choko-bg.jpg") no-repeat;  
}

.social-btn{
  display:inline-block;
    width:20px;
    height:20px;
    
}