.icon {
  width: 20px;
  height: 20px;
 
}
.icon-about {
  width: 48px;
  height: 48px;
  float:left;
}
body {
    
    font-family: "Roboto",sans-serif;
    font-size:16px;
    color:#fff;
    font-weight: 400;
    line-height:22px;
    background-color: bisque;
    
    
}
.body-catalog{
    background-color: #9aaea3;
}
.container {
    width:860px;
    margin: 0 auto;
    
}
h1{
    
    font-size: 30px;
    
    
}
h2{
    font-size: 24px;
    line-height:30px;
    
}

.col-2{
    width:420px;
    
    
}
.col-4{
    width: 200px;
}

.hit-block img{
    border-radius: 50%;
    
    
}
/*---------хэдер--------------*/
.main-header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
ul.catalog,.search-form,.form-login, .checkout{
    display: none;
}
.main-navigation{
   display: flex; 
    
}
.main-navigation>ul{
  list-style: none;
  margin-top: 15px;
  padding: 0;
}
.main-navigation>ul>li{
   display: inline-block; 
}
.main-navigation>ul>li>a{
   display: block;
    color: #fff;
    padding-right: 15px;
    
}
.logo{
    margin-right: 15px;
}  
.user-block{
     margin-top: 15px;
    
}
.shedule{
    position: absolute;
    top:55px;
    right:0px;
    
}
.user-block{
   display: flex; 
}


/*---------слайдер--------------*/
body > input[type="radio"] {
  display: none;
}

body{
  
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}



body:before,
body:after {
  content: "";

  visibility: hidden;
}

body:before,
body:after {
  background-image: url("img/slide-1.png");
   
}

body:after {
  background-image: url("img/slide-2.png");
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}


.slider {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
    position: absolute;
    bottom: 130px;
    left: 100px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
    line-height: 60px;
}
.btn{
  display: inline-block;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74b36 100%); 
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
  padding: 15px 20px;
  
}
.slide-btn {
  position: absolute;
  bottom: 33px;
  left: 285px;
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .container #slide1,
#btn-2:checked ~ .container #slide2,
#btn-3:checked ~ .container #slide3 {
  display: block;
}

#btn-1:checked body {
     /*background-color: #849d8f;*/
  background-image: url("img/slide-1.png");
    
}

#btn-2:checked body {
 /* background-color: #8996a6;*/
  background-image: url("img/slide-2.png");
}

#btn-3:checked body {
  /*background-color: #9d8b84;*/
  background-image: url("img/slide-3.png");
}

#btn-1:checked ~ .container label[for="btn-1"],
#btn-2:checked ~ .container label[for="btn-2"],
#btn-3:checked ~ .container label[for="btn-3"] {
  background-color: #ffffff;
}
/*---------футер--------------*/
.main-footer{
    font-size: 13px;
}
.main-footer .container{
    display: flex; 
}
.main-footer-social{
    margin-right: 20px;   
    
}
.main-footer-copyright{
    margin-left: auto;
    font-size: 12px;
}





.range{
    position:relative;
    height:35px;
    width: 190px;
    margin-bottom:15px;
    padding:0 15px;
    background:rgba(171,188,178,0.2);
    border-radius:5px;
    overflow:hidden;
}
.scale{
    margin-top:15px;
    height:4px;
    background:rgba(209,218,211,0.5);
}
.scale div{
    height:4px;
    background:#f8f7f4;
}
.toggle{
    position:absolute;
    top:6px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid #f8f7f4;
    background:#f8f7f4;
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{
    left:35px;
}
.max-toggle{
    left:130px;
}


/*---------блок даром--------------*/
.for-free{
    display: flex;
    justify-content: space-between;
    min-height: 227px;
    margin-bottom: 38px;
    
}
.raspberry{
    background: url("../img/raspberry-bg.png") no-repeat;
    
}
.chocolate{
   
    
    background: url("../img/choco-bg.png") no-repeat;
    
}
/*---------блок хиты--------------*/

.hit-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}
/*---------блок описание--------------*/
.description{
    background: url("../img/about-bg.png") no-repeat;
    margin-bottom: 35px;
}
.description-columns{
   display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    
    
}
/*---------блок блог и подписка--------------*/
.blog-subscribe{
    color:#000;
    display: flex;
    justify-content: space-between;
    min-height: 219px;
    margin-bottom: 40px;
}
.blog{
    background:url("../img/blog-bg.png");
    
}
.subscribe{
    background:url("../img/subscribe-bg.png");  
}
/*---------карта,контакты--------------*/
.map{
    margin: 0 auto;
    height: 426px;
    position: relative;
}
.contacts{
    box-sizing: border-box;
    width:300px;
    background-color: #fdfefe;
    border-radius: 10px;
    color:#000;
    position: absolute;
    top: 5px;
    left: 575px;
    padding: 30px 25px;
    

}
.feedback{
    display: none;
}

.main-footer .container{
    margin: 0 auto;
    display: flex;
}

.order-list-item {
    
    border-radius: 50%; 
    
}

/*---------catalog.html--------------*/


.breadcrumbs{
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs a{
    display: block;
    color: #fff;
    padding-right: 15px;
}
.filter{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 14px;
  
}
.filter span{
   font-size: 16px; 
}
.filter-sorting{
    width:200px;
}
.filter-price{
   width:220px; 
}
.filter-richness{
   border: none;
   padding: 0;
   margin: 0;
   width:420px; 
}
.filter-filling{
    border: none;
    padding: 0;
    margin: 0;
    width: 700px;
}
.filter button{
    box-sizing: border-box;
    width: 144px;
    border:2px solid #f7f8f7;
    border-radius: 15px;
    background-color:rgba(168,185,175,0.9);
    color:#fff;
    padding: 12px 30px 8px 27px;
    font-size: 16px; 
}
.catalog-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
}
.catalog-block img{
    
    border-radius: 50%; 
    
}
.catalog-block a{
    display: none;
}
.pagination ul{
    list-style: none;
    
    margin: 0;
    padding: 0;
}
.pagination li{
    
    display: inline-block;
}
.pagination a{
    text-decoration: none;
    display: block;
    padding: 0 10px;
}